@import "./variables.scss";

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  .headline {
    text-transform: uppercase;
    font-size: 4.5em;
    @include lg {
      font-size: 2.5em;
    }
  }
  .blackjack {
    width: 95%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid $text-color;
    gap: 2.5em;
    .blackjack__cards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      .blackjack__you,
      .blackjack__dealer {
        width: 100%;
        height: 200px;
        border-bottom: 3px solid $text-color;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-sizing: border-box;
        .blackjack__info {
          display: flex;
          align-items: center;
          h2 {
            width: 200px;
            text-align: center;
            font-weight: 500;
          }
          h2 span {
            font-weight: 700;
          }
        }
        img {
          min-width: 150px;
          height: 150px;
          object-fit: contain;
          padding: 1em;
        }
      }
    }
  }
  .blackjack__play {
    display: flex;
    gap: 2em;
    button {
      all: unset;
      border: 1px solid $text-color;
      border-radius: 25px;
      padding: 0.25em 1em;
      transition: 250ms;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .blackjack__score {
    padding: 1em;
    table,
    th,
    td {
      padding: 5px;
      border: 1px solid $text-color;
    }
  }
}
