@import "./variables.scss";

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    h2 {
      text-transform: uppercase;
      font-size: 4.5em;
      @include lg {
        font-size: 2.5em;
      }
    }
    button {
      all: unset;
      border: 1px solid $text-color;
      border-radius: 25px;
      padding: 0.25em 1em;
      transition: 250ms;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
    .container {
      width: 500px;
      height: 500px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      @include lg {
        width: 300px;
        height: 300px;
      }
  
      .children {
        font-size: 2.5em;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $text-color;
        cursor: pointer;
        .circle {
          width: 90px;
          height: 90px;
          border: 7.5px solid $text-color;
          border-radius: 50%;
          box-sizing: border-box;
          @include lg {
            width: 50px;
            height: 50px;
          }
        }
        .cross {
          width: 90px;
          height: 90px;
          position: relative;
          transform: rotate(45deg);
          @include lg {
            width: 50px;
            height: 50px;
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            background-color: $text-color;
          }
          &::before {
            left: 50%;
            width: 15%;
            height: 100%;
            margin-left: -5%;
          }
          &::after {
            top: 50%;
            width: 100%;
            height: 15%;
            margin-top: -5%;
          }
        }
      }
    }
    .info {
      font-size: 22px;
      @include lg {
        font-size: 16px;
      }
    }
  }
  